@charset "utf-8";
/* CSS Document */


.main {
   height: 650px;
     margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1055px;
   }

#jy-left {
    float: left;
    margin-top: 6px;
    overflow: hidden;
    width: 263px;
}
#jy-left .mod_block {
    margin-bottom: 0;
}
#jy-left .newprod_xx, #jy-left .newprod_gg, #jy-left .newprod_view {
    display: none;
}
#jy-left .list_title a, #jy-left .list_title a:visited {
    color: #FFFFFF;
}
#jy-left .blk_t {
    background: url(../images/left_class_bg.jpg) no-repeat 0 0;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
    height: 37px;
    line-height: 37px;
    overflow: hidden;
    text-indent: 35px;
}
.recent {line-height: 1.7em;}
.recent_con {padding-top: 6px;}
.recent_con li {border-bottom: 1px dashed #CCCCCC;clear: both;margin: 0 auto;overflow: auto;padding-bottom: 5px;width: 95%;}
#jy-right {
    margin-top: 6px;
    overflow: hidden;
}
#jy-right .blk_t {
    background: url(../images/right_class_bg.jpg) no-repeat 0  ;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
    height: 38px;
    line-height: 38px;
    text-indent: 30px;
}
#jy-right .list_con ul.flink_index, #right .list_con ul.flink_index {
    line-height: 2em;
    list-style: none outside none;
    overflow: auto;
}

#jy-right .list_con, #jy-right .login_main, #jy-right .prod_type, #jy-right .prod_type_n, #jy-right .cart_con, #jy-right .lagbar, #jy-right .recent_con, #jy-right #mess_main, #jy-right .cartlist, #jy-right .langbar, #jy-right .marquee_list, #jy-right .com_con, #jy-right .qq_list_con {
    background: none repeat scroll 0 0 #FFFFFF;
    overflow: hidden;
    padding: 10px;
}

.list_con {padding-top: 5px;}
.list_con ul {line-height: 20px; margin-left: 10px;}
.list_con ul li {background: url(../images/news_arrow.gif) no-repeat scroll 0 10px transparent;overflow: hidden;padding-left: 10px;height:24px;line-height:24px;}
.list_con ul li span.date { float:right;color:#999;}


#guafu{
	    background: url("../images/gua.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 639px;
    width: 262px;
}
.list_main { background:#f3e6c3; border:1px #ada074 solid; border-bottom:none; border-top:none;}
.list_tot {padding:0 0 0 10px;background: url(../images/box-b.jpg) no-repeat 0 0;}
.list_tot .list_totbg {background: url(../images/box-b.jpg) no-repeat right 0;height:10px;line-height:10px;}
.list_top {
    background: url("../images/box-t.jpg") no-repeat scroll 0 bottom rgba(0, 0, 0, 0);
    padding: 0 0 0 10px;
}
.list_top .list_topbg {
  background: url("../images/box-t.jpg") no-repeat scroll right bottom rgba(0, 0, 0, 0);
  height: 10px;
  line-height: 10px;
}