
@charset "utf-8";
body {
        min-height: 500px;
        min-width:1024px;
	height: 100%;
	position: relative;
	margin:0;
  overflow-x: hidden;
  overflow-y: hidden;
  
	
}
#home{
	min-height:600px;
	min-width: 1024px;
	width: 100%;
	height: 100%;
}
#nav_center {
	
    background-image: url("../../images/front/logo.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 88px;
    margin: 0 auto;
    position: relative;
     z-index: 9999;
}
.menu_left a {
   font-size: 12px;
  font-family: "Microsoft YaHei";
  color: rgb( 255, 255, 255 );
  text-transform: uppercase;
    height: 25px;
    text-decoration: none;
    display: block;
    width: 70px;
    font-weight: 600;
}

.menu_left {
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    height: 25px;
    margin: 31px 40px;
    position: absolute;
    right: 50%;
    text-align: right;
    text-decoration: none;
    width: 400px;
    z-index: 9000;
}
.menu_left ul {
    height: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
     z-index: 9001;
     
}

.menu_left ul li {
    float: left;
    height: 26px;
    position: relative;
    margin-right: 20px;
     line-height: 25px;
     text-align: center;
      z-index: 9002;
}
.menu_left ul li ul {
    display: none;
    height: 25px;
}
.menu_left ul li:hover a {
	height: 26px;
    background: none repeat scroll 0 0 #26723a;
    color: #fff;
}

.menu_left ul li:hover ul {
    display: block;
    left: 0;
    position: absolute;
}
.menu_left ul li:hover ul li a {
	background: none;
    border-bottom: 1px dashed #ffffff;
     font-size: 12px;
  font-family: "Microsoft YaHei";
  color: rgb( 255, 255, 255 );
  text-transform: uppercase;
    height: 27px;
    text-decoration: none;
    display: block;
    width: 70px;;
}
.menu_left ul li:hover ul li a:hover {
    color: #ffffff;
    height:28px;
      background: none repeat scroll 0 0 #26723a;
}
.menu_right a {
   font-size: 12px;
  font-family: "Microsoft YaHei";
  color: rgb( 255, 255, 255 );
  text-transform: uppercase;
    height: 25px;
    text-decoration: none;
    display: block;
    width: 70px;
    font-weight: 600;
}
.menu_right {
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    height: 25px;
    margin: 31px 40px;
    position: absolute;
    left: 50%;
    text-align: right;
    text-decoration: none;
    width: 400px;
    z-index: 9000;
}
.menu_right ul {
    height: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
     z-index: 9001;
}
.menu_right ul li {
  float: right;
  height: 26px;
  line-height: 25px;
  margin-left: 20px;
  position: relative;
  text-align: center;
   z-index: 9002;
}
.menu_right ul li ul {
    display: none;
    height: 25px;
}
.menu_right ul li:hover a {
	height: 26px;
    background: none repeat scroll 0 0 #26723a;
    color: #fff;
}

.menu_right ul li:hover ul {
    display: block;
    left: 0;
    position: absolute;
}
.menu_right ul li:hover ul li a {
	background: none;
    border-bottom: 1px dashed #ffffff;
     font-size: 12px;
  font-family: "Microsoft YaHei";
  color: rgb( 255, 255, 255 );
  text-transform: uppercase;
    height: 27px;
    text-decoration: none;
    display: block;
    width: 70px;;
    margin-left: -20px;
    
}
.menu_right ul li:hover ul li a:hover {
    color: #ffffff;
    height:28px;
    background: none repeat scroll 0 0 #26723a;
}
.wrapperb {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.footer_bar {
	display:block;
    background-color: #000000;
    height: 22px;
    width: 102%;
    position: absolute; 
     bottom: 0; /* 关键 */  
   left:0; /* IE下一定要记得 */ 
}
.footer_left {
  margin: auto 40px;
  position: absolute;
  right: 50%;
  text-align: left;
  width: 400px;
  top:1px;
  
}
.footer_left a {
    color: #ffffff;
     font-size: 11px;
  font-family: "Microsoft YaHei";
  color: rgb( 255, 255, 255 );
  text-decoration: none;
  height: 20px;
}

.footer_left span {
    color: #ffffff;
    font-size: 11px;
    font-family: "Microsoft YaHei";
}
.footer_right {
  left: 50%;
  margin: auto 0px;
  position: absolute;
  text-align: center;
  width: 450px;
  top:3px;
}
.footer_right a {
    color: #ffffff;
     font-size: 11px;
  font-family: "Microsoft YaHei";
  color: rgb( 255, 255, 255 );
  text-decoration: none;
  
}

